/*nav bar*/

#search-site {
    border: solid #999999 1px;
    border-radius: 10%;
    background-color: #343434;
    color: #999999;
    height: 34px;
    padding-left: 10px;
}

#search-site:hover {
    border: solid #999999 1px;
    border-radius: 10%;
    background-color: #343434;
    color: #999999;
    height: 34px;
    padding-left: 10px;
}

.active{
    background-color:#ab966f !important;
    color: #343434 !important;
    font-weight: bolder;
}

/*body home*/

.link-title:hover{
    text-shadow: 0 0 15px #ffffff;
}


/*style gallery*/


.row-img{
    min-width: 300px;
}

.gallery-row{
    margin: 50px 40px 50px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-evenly;
}


/*illustrate menu*/
.illustrate-menu-table{
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    text-align: center;
}

.illustrate-menu-icon {
    max-width: 150px;
    min-height: 150px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
}

.menu-icon-link img{
    max-width: 100px;
    padding-bottom: 20px;
    display: block;
}

.illustrate-menu{
    padding: 40px;
}

.illustrate-menu table{
    width: 100%;
    border-collapse: collapse;
}

#menu-table td{
    padding: 10px;
}

#menu-table td:hover{
    background-color: #474747e0;
}


/*decoration*/

.header-nav a:hover{
    background: #4c4c4c;
    color: #b18f50;
}


tr:hover{
    background-color: #474747e0;
}

/*template grid*/
.template-grid{
    width: 100%;
    margin: 30px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: space-evenly;
    justify-items: center;

}