/*nav search*/

#search-site {
    border: solid #999999 1px;
    border-radius: 10%;
    background-color: #343434;
    color: #999999;
    height: 34px;
    padding-left: 10px;
}

.active{
    background-color:#ab966f !important;
    color: #343434 !important;
    font-weight: bolder;
}

/*style gallery*/

img{
    max-width: 540px;
}

.gallery-row{
    margin: 50px 40px 50px 40px;
    width: 96%;
    display: flex;
    justify-content: space-evenly;
}


/*illustrate menu*/
.illustrate-menu-table{
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    text-align: center;
}

.illustrate-menu-icon {
    max-width: 150px;
    min-height: 150px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
}

.menu-icon-link img{
    max-width: 100px;
    padding-bottom: 20px;
    display: block;
}

/*decoration*/

.header-nav a:hover{
    background: #4c4c4c;
    color: #b18f50;
}


tr:hover{
    background-color: #474747e0;
}

/*template grid*/
.template-grid{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.template{
    width: 180px;
    max-height: 420px;
    text-align: center;
    margin: 40px 20px;
}

.template img{
    width: 180px;
    max-height: 420px;
    margin-bottom: 20px;
}